<!DOCTYPE html>
<html lang="en">
<head>

  <title><%= webpackConfig.metadata.title %></title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= webpackConfig.metadata.title %>">

  <!-- base url -->
  <base href="<%= webpackConfig.metadata.baseUrl %>">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="app/vendor/materialize-css/css/materialize.css">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <link rel="stylesheet" href="<%= webpackConfig.metadata.bootstrapCss %>">
  <link rel="stylesheet" href="<%= webpackConfig.metadata.mainCss %>">


</head>

<body>

<!--  Application Component -->
<app>
  Loading...
</app>


<% if (webpackConfig.metadata.ENV === 'development') { %>
<!-- Webpack Dev Server reload -->
<script src="/webpack-dev-server.js"></script>
<% } %>


</body>
</html>
